<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Mood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script>
      window.service_worker_path = '/service_worker.js';
      window.vapid_public_key = '<%= vapid_public_key %>';
    </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-primary">
      <a class="navbar-brand" href="<%= root_path %>">Mood</a>
    </nav>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
