<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Mood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://browser.sentry-cdn.com/5.15.5/bundle.min.js" integrity="sha384-wF7Jc4ZlWVxe/L8Ji3hOIBeTgo/HwFuaeEfjGmS3EXAG7Y+7Kjjr91gJpJtr+PAT" crossorigin="anonymous"></script>
    <script>
      Sentry.init({
        dsn: '<%= sentry_client_dsn %>',
        environment: '<%= app_env %>',
      });

      window.service_worker_path = '/service_worker.js';
      window.vapid_public_key = '<%= vapid_public_key %>';
    </script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-primary">
      <a class="navbar-brand" href="<%= root_path %>">Mood</a>
      <% if current_user.persisted? %>
        <a class="navbar-text" href="<%= sign_out_path %>">Sign Out</a>
      <% end %>
    </nav>

    <main>
      <% if flash.alert.present? %>
        <div class="alert alert-danger" role="alert">
          <%= flash.alert %>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
